#everything {
	font-family: 'Maven Pro', sans-serif;
	margin-left: 20px;
}

.spoilers {
	background-color: black;
	padding: 2px;
}

.spoilers:hover {
	background-color: white;
}

li a {
	text-decoration: none;
	color: black;
	font-size: 19px;
}

a:hover {
	font-weight: bold;
}

a:visited {
	color: grey;
}

li {
	list-style-type: circle;
}

li a {
	font-size: calc(6px + 1vw);
}

ul {
	margin-top: 4px;
}

h1 {
	font-size: calc(3px + 3vw);
	/*font-size: 40px;*/
	display: inline;
	margin-bottom: 0px;
}

h3 {
	display: inline;
	margin-left: 20px;
	/*font-size: 20px;*/
	font-size: calc(3px + 1vw);
}

h2 {
	/*font-size: 28px;*/
	font-size: calc(3px + 2vw);
	margin-bottom: 4px;
	display: inline-block;
}

p {
	/*font-size: 18px;*/
	font-size: calc(6px + 1vw);
}

img {
    /*width: 800px;
    height: 450px;*/
    width: 40vw;
    height: auto;
}

#left {
	margin-right: 33%; 
}

#missing {
	font-size: calc(8px + .5vw);
	margin: 0px;
	margin-left: 10px;
}

#right {
	margin-left: 10px;
	float: right;
	width: 33%;
	display: inline-block;
	position: fixed;
	top: 100px;
	right: 0px;
	text-align: right;
	height: 100%;
	overflow: auto;
	margin-right: 20px;
}

#right a {
	text-decoration: none;
	margin: 5px;
	font-size: calc(6px + 1vw);
	cursor: pointer;
	display: inline-block;
}

#right a:visited {
	color: grey !important;
}
