#everything {
	text-align: center;
	display: flex
}

.box {
	display: inline-block;
	border: 5px solid black;
	width: 28% !important;
	margin: 1%;
	vertical-align: top;
	padding: 10px;
	/*min-height: 100%;*/
	flex: 1;
}

h2 {
	text-align: center;
	font-size: calc(14px + 1.1vw);
	margin-top: 5px;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-size: calc(10px + .9vw);
	margin-top: 5px;
	font-weight: bold;
}

#right {
	text-align: center;
	font-size: calc(8px + .6vw);
}

#right a {
	font-size: calc(11px + .8vw);
}

.leftText {
	text-align: left;
}

iframe {
	/*width: 303px;
	height: 100px;*/
	margin: auto;
	border: 2px solid black;
}

a {
	text-decoration: none;
	color: mediumblue;
}

#right a:visited {
	text-decoration: none;
	color: gray;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}

a.CL {
	color: #404040;
}

span {
	font-size: calc(8px + .6vw);
}

img {
	width: 90%;
}

.companion {
	width: 100px;
	height: 100px;
}
